*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* CSS RESET ABOVE */

body {
  background-image: url('images/bg-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 430px;
  width: 100%;
}

.manager {
  padding: 2rem;
  background-color: hsl(228, 56%, 26%);
  border-radius: 12px 100px 12px 12px;
}

.icons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.icon {
  background-color: hsl(229, 57%, 11%);
  padding: 0.7rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  :hover {
    cursor: pointer;
  }
}

.status {
  color: hsl(243, 100%, 93%);
  background-color: hsl(228, 56%, 26%);
  margin-top: 1rem;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.storage-left {
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: hsl(229, 57%, 11%);
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1.5rem;
  justify-content: center;

  strong {
    font-weight: 700;
    font-size: 2.5rem;
  }
}

input[type='range'] {
  appearance: none;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  background-color: hsl(229, 57%, 11%);
  margin-top: 16px;
}

.range-limits {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.pointer {
  display: none;
}

/* for non-firefox based browsers */
input[type='range']::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  margin: 1px;
  background-color: white;
  border-radius: 50%;
  outline: 3px solid hsl(335, 100%, 65%);
}

/* for firefox based browsers */
input[type='range']::-moz-range-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  margin: 1px;
  background-color: white;
  border-radius: 50%;
  outline: 3px solid hsl(335, 100%, 65%);
}

@media (min-width: 800px) {
  body {
    background-image: url('images/bg-desktop.png');
    background-size: contain;
    background-position: bottom;
    background-color: hsl(229, 57%, 11%);
  }

  .wrapper {
    display: flex;
    gap: 2rem;
    max-width: 1100px;
    font-size: 16px;

    .manager {
      flex: 1;
      padding: 3rem;

      .icons {
        margin-top: 2.5rem;
      }
    }

    .status {
      align-self: flex-end;
      flex: 2;

      .storage-left {
        top: -40%;
        left: 85%;
        width: max-content;
        padding: 0.5rem 1rem;
      }

      .pointer {
        display: inline;
        padding: 16px;
        position: absolute;
        background-color: white;
        top: -8px;
        right: 16px;
        transform: rotate(45deg);
      }
    }
  }
}
